.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #202020;
}

.website-logo {
  height: 40px;
}

.nav-items {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.logout-btn {
  background-color: #6366f1;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
